{% extends "layout.html" %}

{% set activePage = "kontakt" %}

{% block content %}
    <div class="banner row">
        <h1><span class="break-line">Det är vi som är Craftmade.</span>
        Olika specialiteter, gemensam passion för teknik och webb.</h1>
    </div>
    <div class="contact-page">
        <div class="row">
            <div class="person">
                <img src="/img/simon.jpg">
                <h2 class="mb0 mt1">Simon Wallström</h2>
                <h3>Front-End / UX / Grafisk designer</h3>
                <div class="contact">
                    <a href="http://linkedin.com/in/simonwallstrom">linkedin.com/in/simonwallstrom</a>
                </div>
            </div>
            <div class="person">
                <img src="/img/seyamak.jpg">
                <h2 class="mb0 mt1">Seyamak Arkannia</h2>
                <h3>Strateg / UX / Front-End</h3>
                <div class="contact">
                    <a href="http://linkedin.com/in/seyamakarkannia">linkedin.com/in/seyamakarkannia</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
