//
// SETTINGS
//


// -------------------------------------------------------------
// # Layout
// -------------------------------------------------------------

$site-width-mobile:         88%;
$site-width-tablet:         86%;
$site-max-width:            1440px;

// Mobile first
$bp-small:                  481px;
$bp-medium:                 768px;
$bp-large:                  1024px;
$bp-wide:                   1200px;


// -------------------------------------------------------------
// # Typography
// -------------------------------------------------------------

// Fonts
$sans:                      "Geogrotesque-Regular";
$sans-light:                "Geogrotesque-Light";
$serif:                     "Georgia";
$mono:                      "Monaco";

// Base
$font-size:                 1.6rem;
$line-height:               1.6;

// Other
$font-size--large:          $font-size + .4;
$font-size--small:          $font-size - .2;
$light:                     300;
$regular:                   400;
$bold:                      700;
$letter-spacing:            1px;


// -------------------------------------------------------------
// # Colors
// -------------------------------------------------------------

$black:                     #111111;
$grey:                      lighten($black, 35%);
$white:                     #ffffff;


$red:                       #BD1919;


// -------------------------------------------------------------
// # Layout
// -------------------------------------------------------------

$margin:               30px;
$padding:              30px;


// -------------------------------------------------------------
// # Grid
// -------------------------------------------------------------

$grid-base-col-width:       60 !default;
$grid-base-gutter-width:    50 !default;
$grid-cols:                 12 !default;


// -------------------------------------------------------------
// # Miscellaneous
// -------------------------------------------------------------

$radius:                    3px;
